<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <title>Top Movie Titles</title>
</head>

<body>
    <h1>Top Movie Titles</h1>
    <button><a href="{{ home }}">Home</a></button>
    <button><a href="{{ fetch }}">Fetch</a></button>
    <ol class="list">
        {% for title in titles %}
        <li class="list">{{ title }}</li>
        {% endfor %}
    </ol>
</body>

</html>